<div class="container">
    <br>
    <h3>Chat Room</h3>
    <ul id="list">
        {{#each chat}}
            {{#each dialogue}}
                <h3>{{sender.firstname}}</h3>
                <p>{{senderMessage}}</p>
                <small>{{date}}</small>
                <hr>
                    {{#if receiverMessage}}
                    <h3>{{receiver.firstname}}</h3>
                    <p>{{receiverMessage}}</p>
                    <small>{{date}}</small>
                    {{else}}
                    {{/if}}
                <hr>
            {{/each}}
        {{else}}
        <p>No messages</p>
        {{/each}}
    </ul>
    <form action="/chat/{{chat._id}}" method="POST">
        <input type="text" name="message" class="form-control">
        <button type="submit" class="btn btn-primary btn-1">Send</button>
    </form>
</div>