<div class="container">
    <br>
    <div class="card" style="width: 25rem;">
        <img src="{{car.picture}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{car.make}}</h5>
            <p class="card-text">Model: {{car.model}}, year: {{car.year}}</p>
            <p class="card-text">฿{{car.pricePerWeek}}  pricePerWeek &nbsp;&nbsp; ฿{{car.pricePerHour}} pricePerHour</p>
            <small>Location: {{car.location}}</small>
            <br><br>
            <a href="/contactOwner/{{car.owner}}" class="btn btn-primary mr-2">Contact Owner</a> 
            <a href="/addToCart/{{car._id}}" class="btn btn-danger mr-2">Add to Chat</a>
        </div>
    </div>
</div>







