<div class="row justify-content-center">
<table class="table table-bordered mt-4" id="tableId">
    <input type="hidden" id="carId" value="{{car._id}}">
  <thead class="thead-light">
    <tr>
      <th scope="col">จำนวนวันเช่ารถ</th>
      <th scope="col">ราคา</th>
      <th scope="col" style="width: 10%;">แก้ไข</th>
    </tr>
  </thead>
  <tbody id="tbody">
    {{#each rentRate}}
    <tr>
        <td>
            <input type="hidden" value="{{day}}" name="day{{@index}}" id="day{{@index}}">
            <span id="showDay{{@index}}">เช่ารถ {{ day }} วัน</span>
        </td>
        <td>
            <input type="hidden" value="{{price}}" name="price{{@index}}" id="price{{@index}}">
            <span id="showPrice{{@index}}">{{ price }}</span>
        </td>
        <td>
                <button class="btn btn-primary" onclick="getValueToInput({{@index}})">แก้ไข</button>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
    <form>
        <input type="hidden" value="" id="index">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-6 col-form-label">จำนวนวันที่ให้เช่า</label>
            <div class="col-sm-6">
            <input type="text" class="form-control" id="inputDay" value="" oninput="changeDay(this.value)">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-6 col-form-label">ราคา</label>
            <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPrice" value="" oninput="changePrice(this.value)">
            </div>
        </div>
    </form>
</div>
<div class="d-flex justify-content-center mt-4">
<button class="btn btn-success mr-2" onclick="submitData()">บันทึกข้อมูล</button>
</div>

<script>
    function getValueToInput (index) {
        document.getElementById('index').value = index

        var price = document.getElementById('price'+index).value
        var day = document.getElementById('day'+index).value

        document.getElementById('inputDay').value = day
        document.getElementById('inputPrice').value = price
    }

    function changePrice (data) {
        var index = document.getElementById('index').value

        if (index) {
            document.getElementById('showPrice'+index).innerHTML = data
            document.getElementById('price'+index).value = data
        }
    }

    function changeDay (data) {
        var index = document.getElementById('index').value

        if (index) {
            document.getElementById('showDay'+index).innerHTML = `เช่ารถ ${data} วัน`
            document.getElementById('day'+index).value = data
        }
    }

    function submitData () {
        var table = document.getElementById('tableId');
        var carId = document.getElementById('carId').value
        var reqData = {
            rate: [],
            carId: carId
        }

        for(let i=0; i<table.rows.length-1; i++) {
            var day = document.getElementById('day'+i).value
            var price = document.getElementById('price'+i).value

            const tempData = {
                day: day,
                price: price
            }
            
            reqData.rate.push(tempData)
        }

        console.log(reqData)
        $.ajax({
            url: '/addCar',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(reqData),
            success : function(result) {
                window.location.href = '/showCars'
            },
        })
    }

</script>