<div class="container">
    <br>
    <h3>Chat Room</h3>
    <ul id="list">
        {{#each chat}}
            {{#each dialogue}}
                <h3>{{sender.firstname}}</h3>
                <p>{{senderMessage}}</p>
                {{#if image}}
                    <img src="{{image}}" width="40%" >
                {{/if}}
                <p><small>{{date}}</small></p>
                <hr>
                    {{#if receiverMessage}}
                    <h3>{{receiver.firstname}}</h3>
                    <p>{{receiverMessage}}</p>
                    {{#if image}}
                        <img src="{{image}}" width="40%" >
                    {{/if}}
                    <small>{{date}}</small>
                    {{else}}
                    {{/if}}
            {{/each}}
        {{else}}
        <p>No messages</p>
        {{/each}}
    </ul>
    <div>
        <form action="/chat/{{chat._id}}" method="POST">
            <input type="text" name="message" class="form-control">
            <input type="file" name="image" id="upload-input" style="display: none">
            <div class="d-flex" style="justify-content: space-between">
                <button class="btn btn-info upload-btn mt-2" type="button">Upload Image</button>
                <button type="submit" class="btn btn-primary btn-1">Send</button>
            </div>
        </form>
        
    </div>
</div>

<script>
    //jquery code starts here การอัพโหลดภาพ
    $(document).ready(function(){
        $('.upload-btn').on('click',function(){
            $('#upload-input').click();
        });
        $('#upload-input').on('change',function(){
            var uploadInput = $('#upload-input');
            if(uploadInput.val() !=''){
                var formData = new FormData();
                formData.append('image',uploadInput[0].files[0]);

                //make ajax request to sand image to database
                $.ajax({
                    url: '/uploadImage',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(){
                        uploadInput.val('');
                    }
                })
            }
        })
    })
</script>