<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-10 mt-4">
        {{#if status}}
        <form action="/listCar2" method="POST">

            <div class="form-group">
                <label for="make">รุ่น</label>
                <input type="text" name="make" id="make" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="model">โมเดล</label>
                <input type="text" name="model" id="model" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="year">ปี</label>
                <input type="numbar" name="year" id="year" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="year">เลขทะเบียน</label>
                <input type="numbar" name="carNo" id="year" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="type">เครื่องยนต์</label>
                <select name="type" id="type" class="form-control">
                    <option value="110_cc">110 CC</option>
                    <option value="125_cc">125 CC</option>
                    <option value="150_cc">150 CC</option>
                    <option value="155_cc">155 CC</option>
                </select>
            </div>

            <div class="form-group">
                <label for="location">ตำแหน่งรถ</label>
                <input type="text" name="location" id="location" class="form-control" 
                placeholder="street, city, state and zipcode" required>
            </div>

            <div class="form-group">
                <button class="btn btn-info upload-btn" type="button">เลือกรูปภาพรถ</button>
                <input type="file" name="image" id="upload-input" style="display: none">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">ถัดไป</button>
            </div>
        </form>
        {{else}}
        <div class="container mt-4">
            <h1>รถของคุณ {{car.make}} {{ car.model }}</h1>
            <div class="d-flex mt-5 justify-content-center">
                <img src="{{car.picture}}" width="30%">
                <div class="ml-4">
                    <h4>รายละเอียดรถ</h4>
                    <p class="card-text">รุ่น: {{car.make}}</p>
                    <p class="card-text">โมเดล: {{car.model}}</p>
                    <p class="card-text">ปี: {{car.year}}</p>
                    <p class="card-text">เครื่องยนต์: {{car.type}}</p>
                </div>
            </div>
        </div>
        {{#if rentDetail}}
            <div class="d-flex justify-content-center mt-2 mb-2">
            [ ชื่อผู้เช่ารถ : {{ rentDetail.user.firstname }} {{ rentDetail.user.lastname }} ] | [ อีเมล์ติดต่อ : {{rentDetail.user.email}} ] | [ จำนวนรถที่เช่า : 1 คัน ]
            </div>
            <hr>
            <form>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">จำนวนวันที่ไป</label>
                    <div class="col-sm-8">
                        <p>{{ rentDetail.amountDay }} วัน</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">ราคา</label>
                    <div class="col-sm-8">
                        <p>{{ rentDetail.price }} บาท</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">สถานที่ไป</label>
                    <div class="col-sm-8">
                        <p>{{ rentDetail.wherePlace }}</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">วันเวลาที่ออกเดินทาง</label>
                    <div class="col-sm-8">
                        <p>{{ rentDetail.dateTime }}</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">จุดนัดพบที่จะออกเดินทาง</label>
                    <div class="col-sm-8">
                        <p>{{ rentDetail.meetArea }}</p>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center mb-5">
                <a class="btn btn-primary" href="/chatOwner/{{rentDetail.user._id}}">Message</a>
            </div>
            {{else}}
                <a class="btn btn-danger mt-4" href="/deleteCar/{{car._id}}">ลบรถคันนี้</a>
                <a class="btn btn-primary mt-4" href="/editCar/{{car._id}}">แก้ไข</a>
            {{/if}}
        {{/if}}
        
    </div>
    <div class="col-sm"></div>

    <div class="mb-5"></div>
</div>

<script>
    function initMap(){
        var location = document.getElementById('location');
        var Autocomplete = new google.maps.places.Autocomplete(location);//ตั้ง map อัตโนมัติ
    }
    //jquery code starts here การอัพโหลดภาพ
    $(document).ready(function(){
        $('.upload-btn').on('click',function(){
            $('#upload-input').click();
        });
        $('#upload-input').on('change',function(){
            var uploadInput = $('#upload-input');
            if(uploadInput.val() !=''){
                var formData = new FormData();
                formData.append('image',uploadInput[0].files[0]);

                //make ajax request to sand image to database
                $.ajax({
                    url: '/uploadImage',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(){
                        uploadInput.val('');
                    }
                })
            }
        })
    })
</script>

<!-- ตั้ง map อัตโนมัติ callback = fetchLocation-->
 
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMBKCUVBeA74u7ZgxAgimeJpF2oPeTdFw&libraries=places&callback=initMap">
</script>
