<div class="container mt-4">
    <h1>เช่ารถ {{car.make}} {{ car.model }}</h1>
    <div class="d-flex mt-5 justify-content-center">
        <img src="{{car.picture}}" width="30%">
        <div class="ml-4">
            <h4>รายละเอียดรถ</h4>
            <p class="card-text">รุ่น: {{car.make}}</p>
            <p class="card-text">โมเดล: {{car.model}}</p>
            <p class="card-text">ปี: {{car.year}}</p>
            <p class="card-text">ทะเบียนรถ: {{car.carNo}}</p>
            <p class="card-text">เครื่องยนต์: {{car.type}}</p>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
       [ ชื่อผู้เช่ารถ : {{ user.firstname }} {{ user.lastname }} ] | [ อีเมล์ติดต่อ : {{user.email}} ] | [ จำนวนรถที่เช่า : 1 คัน ]
    </div>
    <hr>
    <form action="/recheckRentCar" method="POST">
        <input type="hidden" name="user" value="{{ user._id }}" />
        <input type="hidden" name="car" value="{{ car._id }}" />
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">จำนวนวันที่ไป</label>
            <div class="col-sm-8">
                <select class="form-control" name="amountDay">
                    <option value="">เลือกจำนวนวันที่ต้องการ</option>
                    {{#each car.rate  }}
                        <option value="{{day}}">{{day}} วัน [ราคา {{price}} บาท]</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">สถานที่ไป</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="wherePlace" >
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">วันเวลาที่ออกเดินทาง</label>
            <div class="col-sm-8">
                <input type="datetime-local" class="form-control" name="dateTime">
            </div>
        </div>

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-4 col-form-label">จุดนัดพบที่จะออกเดินทาง</label>
            <div class="col-sm-8">
                <input name="meetArea" class="form-control" id="meetArea">
            </div>
        </div>
        <div class="form-group row mt-2">
            <label for="staticEmail" class="col-sm-4 col-form-label"></label>
            <div class="col-sm-8">
                <input type="submit" class="btn btn-primary" value="ดำเนินการต่อ" />
                <a class="btn btn-danger" href="/showCars">ยกเลิก</a>
            </div>
        </div>
    </form>
</div>

<script>
    function initMap(){
        var location = document.getElementById('meetArea');
        var Autocomplete = new google.maps.places.Autocomplete(location);//ตั้ง map อัตโนมัติ
    }
</script>

 
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMBKCUVBeA74u7ZgxAgimeJpF2oPeTdFw&libraries=places&callback=initMap">
</script>
