 <div class="row mt-2">
    {{#each cars}}
    <div class="col-md-4 p-2">
      <div class="card" style="width: 18rem;">
        <h5 style="padding: 1.25rem">โดย: {{ owner.firstname }} {{ owner.lastname }}</h5>
        {{#if picture}}
            <img src="{{picture}}" style="max-height: 160px;">
        {{else}}
            <img src="/image/404_not_car.png" height="auto">
        {{/if}}
            <div class="card-body">
                <div class="d-flex mb-3" style="flex-direction: column;">
                    <span>ทะเบียน: {{ carNo }}</span>
                    <span>ยี่ห้อ: {{ make }} </span>
                    <span>โมเดล: {{ model }} </span>
                    <span>ปี: {{ year }}</span>
                    <span>เครื่องยนต์: {{ type }} </span>
                </div>
                <div class="d-flex justify-content-center">
                    {{#if canRent}}
                    <a href="/rentCar/{{_id}}" class="btn btn-primary mr-4">เช่ารถ</a>
                    {{else}}
                        {{#if adminApprove}}
                            <button class="btn btn-danger mr-4">มีผู้เช่าแล้ว</button>
                        {{else}}
                            <button class="btn btn-danger mr-4">รออนุมัติ</button>
                        {{/if}}
                    {{/if}}
                    <a href="/openGoogleMap" class="btn btn-danger">Show Map</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
        <p>No cars found</p>
    {{/each}}
  </div>


{{!-- {{#each cars}}
<p></p>
<div class="media">
    <input type="hidden" id="carID" value="{{_id}}">
  <img src="{{owner.image}}" class="mr-3" width="64px;" height="64px;">
    <div class="media-body">
        <h5 class="mt-0">{{make}} {{model}} {{year}}</h5>
        <div class="row">
            {{#each image}}
            <div class="col-sm-2">
                <img src="{{imageUrl}}" class="img-fluid" width="300px;" height="auto">
            </div>
            {{else}}
                <img src="/image/404_not_car.png" width="300px;" height="auto">
            {{/each}}
        </div>
        <p>฿{{pricePerHour}} per hour</p>
        <p>฿{{pricePerWeek}} per week</p>
        <small>{{location}}</small> <br>
        <small>{{date}}</small>
        <div><a class="btn btn-primary" href="/rentCar/{{_id}}">Rent</a></div>
        
    </div>
</div>
<hr>
{{else}}
<p>No cars found</p>
{{/each}} --}}